* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Roboto Condensed";
  src: 
    local('Roboto Condensed')
    url('../public/font/robotoCondensed.woff2')
    
}

html,
body,
main {
  --scrollbarBG: #E7EBEE;
  --thumbBG: #90A4AE;
  font-family: 'Roboto Condensed', sans-serif;
  color: #637287;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.modalBox {
  width: 50%;
  max-height: 60%;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  border-radius: 0.75rem;
  padding: 2.5rem;
  font-size: 1.5rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) transparent;
}

.modalBox a{
  text-decoration: underline;
}

.modalText{
  margin: 0 1rem;
  overflow: auto;
  scrollbar-width: thin;
}

.modalText div{
  margin: 1rem 0;
}
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px; 
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--thumbBG);
  -webkit-border-radius: 1ex;
  width: 8px;
}


::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar {
  width: 8px; 
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--thumbBG);
  -webkit-border-radius: 1ex;
  width: 8px;
}

::-webkit-scrollbar-corner {
  background: none;
}


button {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: none;
  border: none;
  color: #637287;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  appearance: none;
}

.bold {
  font-weight: bold;
}

.fixed-position {
  position: fixed;
  z-index: 2;
}
.original-x {
  transform: translateX(0%)
}

.slide-x {
  transform: translateX(-100%)
}

.invisible{
  display: none;
}

.transparency {
  opacity: 30%;
}

.flex {
  display: flex;
}

.display-content {
  display: contents;
}

.hidden {
  visibility: hidden;
}

.visible{
  visibility: visible;
  opacity: 1;
}

.underline{
  text-decoration: underline solid 2px;
  text-underline-position: under;
  font-weight: bold;
}

.infoModalBackground {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: radial-gradient(circle, rgba(231,235,238,1) 0%, rgba(184,194,211,0.9) 100%);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.export-prompt{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: radial-gradient(circle, rgba(231,235,238,1) 0%, rgba(184,194,211,0.9) 100%);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.export-prompt-wrapper{
  width:30rem;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  border-radius: 0.75rem;
  padding: 2.5rem;
}

.close-btn {
  text-align: right;
}

.export-prompt label {
  display: block;
  margin: 0 0 0 10px;
  font-weight: 700;
  font-size: 18px;
}

.export-prompt textarea {
  padding: 10px 0 0 10px;
  background-color: #EAEEF1;
  box-shadow: 
    inset 0px 0px 6px #FFFFFF,
    inset 0px 4px 4px #B8C2D3;
  border: 0;
  border-radius: 3px;
  height: 2.5rem;
  max-height: 4rem;
  min-width: 100%;
  max-width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #637287;
  font-size: 14px;
}

.export-prompt .prompt-box form .form-element {
padding: 0 0 3rem 0
}

.export-prompt textarea.summary {
  min-height: 12rem;
  height: auto;
  max-height: 20rem;
  line-height: 1.5rem;
}

.exportBtnContainer {
  justify-content: flex-end;
}


.export-prompt .export-response {
  display: flex;
  flex-direction: column;
}

.export-prompt .prompt-btns {
  margin: 10px 5px;
  font-size: 1rem;
}

.export-prompt .goToWebMap-btn {
  margin: 10px 5px;
  font-size: 1rem;
}

.export-prompt .processing-indicator {
  margin: 20px 0 0 0;
  font-weight: 700;
  text-align: right;
}

.animation-title {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  background-color: #EAEEF1;
  color: #637287;
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 8px #B8C2D3;
  border-radius: 6px;
  border: none;
  outline: none;
}

.animation-title div {
  padding: 0.7rem;
}

#viewDiv{
  width: 100%;
  position: relative;
  cursor: url('../public/images/CrosshairWhite.png') 22 22, crosshair;
}

#viewDiv .mapAnimationOverlay {
  cursor: default;
}

.crosshairContainer {
  position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    pointer-events: none;
}

#viewDiv .esri-ui-top-right{
  flex-flow: row;
}

#viewDiv .esri-ui-corner #user-icon.esri-component{
  background-color: #F1F4F5;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

#viewDiv .esri-ui-corner #user-icon.esri-component .profile {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: relative;
}

#viewDiv .esri-ui-corner #user-icon.esri-component .profile img {
  border-radius: 50%;
  border: 2px solid #F1F4F5;
  height: 36px;
  width: 36px;
}

.logOut-icon {
  transform: translate(24px, -15px);
  background: #F1F4F5;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

#viewDiv .esri-zoom{
  flex-flow: row;
  background: #F1F4F5;
  background-color: transparent;
  box-shadow: 0px 0px 8px #111111;
}

#viewDiv .esri-zoom .esri-widget--button:first-child{
  background: #F1F4F5;
  border-radius: 12px 0 0 12px;
}

#viewDiv .esri-zoom .esri-widget--button:last-child{
  background: #F1F4F5;
  border-top: none;
  border-radius: 0 12px 12px 0;
}

#viewDiv .esri-ui-corner .esri-component {
  cursor: default;
  background-color: transparent;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 0px 8px #111111;
}

#viewDiv .esri-ui-top-right.esri-ui-corner .esri-component{
  margin-right: 15px;
}

#viewDiv .esri-search__container .esri-search__input, .esri-search__container .esri-widget--button:last-child {
  background-color: #F1F4F5;
  border-radius: 12px 0 0 12px;
}

.esri-search__container .esri-search__input, .esri-search__container .esri-widget--button{
  background-color: #F1F4F5;
  border-radius:  0 12px 12px 0;
  border-left: 0;
}

#viewDiv div .esri-search__input-container .esri-search__clear-button {
border-radius: 0;
}

#viewDiv .esri-ui-bottom-right.esri-ui-corner .esri-component{
  border-radius: none;
  box-shadow: none;
}

#viewDiv .esri-ui-bottom-right.esri-ui-corner #layerToggle {
  cursor: default;
  height: 2.5rem;
  justify-content: space-evenly;
  transform: translate(15px, 14px);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%);
}

#layerToggle .mapLayer {
  margin: 0 5px;
  align-items: center;
}

#layerToggle span {
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 10rem;
}

#layerToggle .checkbox {
  margin: 0 5px;
  width: 15px;
  height: 15px;
}

.checkbox svg {
  stroke: #637287;
  stroke-width: 1.5px;
}

.mobile-header {
  
  background-color: #e7ebee;
  height: 60px;
  width: 100%;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  z-index: 1;
}

main .map-list-item.mobile{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

.mobile-header .icon {
  margin: 0;
}

#sideBarWrapper {
  height: 100%;
  background-color: #e7ebee;
  transition: 0.5s ease;
}

#sideBar {
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 400px;
  max-width: 500px;
  padding: 0 10px;
  background-color: #e7ebee;
  z-index: 4;
}

.map-mode-container {
  margin: 1rem auto ;
  width: 100%;
}

.map-mode-container .action-area {
box-shadow: none;
background: none;
}

.map-mode-container .action-area:hover {
  cursor: pointer;
}

.map-mode-container .divider {
  border-left: 1px solid #abb4c2;
  padding: 1.5rem 0;
  height: 100%;
}

.total-maps{
  display: flex;
}

.map-mode-container  .action-area .mode.selected {
  background: #F1F4F5;
  box-shadow: inset 6px 6px 6px #EAEEF1, -4px -4px 8px #FFFFFF, 4px 4px 8px #637287;
}

.map-mode-container .action-area .explorer-mode-btn{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  background: #E7EBEE ;
  box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #f9fbfb, 3px 3px 4px #d8e0e7;
}

.explorer-mode-btn .map-mode{
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-mode-container .action-area .pin-mode-btn{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  background: #E7EBEE;
  box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #f9fbfb, 3px 3px 4px #d8e0e7;
  margin: 0 0 0 3%;
}
.mapsFooter {
  height: 40px;
  background: #E7EBEE;
}

.mapsFooter .footer-shadow {
  height: 8px;
}

.mapsFooter .effect-one {
  background: linear-gradient(0deg, rgba(231,235,238,1) 0%, rgba(184,194,211,1) 100%);
}

.mapsFooter .effect-two {
  background: linear-gradient(90deg, rgba(231,235,238,1) 0%, rgba(231,235,238,0) 50%, rgba(231,235,238,1) 100%);
}


.queryIndicator {
  animation: spinner 1s infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#header{
  display: flex; 
  margin: auto -10px;
  padding: 10px 15px;
  height:60px;
  color: #ffffff;
}

.heading{
  width: 50%;
  font-size: 1.4rem;
  line-height: 1;
  padding: 2 0 0 10px;
}

.infoModalIcon{
  cursor:pointer
}

.heading .letter-spacing {
  letter-spacing: 2px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 90%;
  padding: 0 0.5rem;
}

.invert {
  filter: invert(1);
}


 #filtersAndSorting{
  padding: 10px 0 10px 0;
} 

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../public/font/robotoCondensed.woff2");
}
.pinned-mode-options {
flex: auto;
justify-content: space-around;
margin: 0px 0px 0 10px;
transform: translate(5px, 0px);
}

.pinned-mode-sub-section {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  
  flex-wrap: nowrap;
}

.pinned-mode-sub-section .iconWrapper{
  width: auto;
}

.pinned-mode-sub-section.pin-management{
  justify-content: center;
}
.pinned-mode-sub-section.pin-management .icon{
  margin: 0 0.3rem;
}

.pinned-mode-sub-section .iconWrapper .tooltipText{
  pointer-events: none;
  position: absolute;
  left: 18px;
  width: 100px;
  background-color: #637287;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  z-index: 1;
  top: -20px;
  margin-left: -60px;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.pinned-mode-options .divider{
  border-left: 1px solid #abb4c2;
  padding: 2rem 0;
  margin: 0 1rem;
}

.downloadIndicator{
  padding: 1rem;
  background:#e7ebee;
  box-shadow: 0px 0px 6px #111111;
  border-radius: 0 0 12px 0;
  align-items: center;
}

.downloadIndicator div {
margin: 0 0.5rem;
}

.downloadIndicator a {
  text-decoration: underline;
  cursor: pointer;
}

.animation-slider-container{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animation-slider-title{
  font-size: 0.8rem;
  margin: 0 auto;
}

.animation-second-row{
display: flex;}

.animation-speed {
  margin: 0 5px;
}
.animation-slider-container input{
  width: 86%;
}

.animation-second-row input[type="range"] {
  appearance: none; 
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(209,216,226,1) 100%);
  width: 100%;
  border-radius: 3px;
  height: 8px;
  transform: translate(0, 5px);
}

.animation-second-row input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: -1px;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #F1F4F5;
  outline: solid 2px #D4DBE4;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #D4DBE4;
}

.animation-second-row input[type=range]::-moz-range-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #F1F4F5;
  outline: solid 2px #D4DBE4;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #D4DBE4;
}

.animation-second-row input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

.animation-second-row input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(209,216,226,1) 100%);
  height: 8px;
  border-radius: 4px;
}

.animation-second-row input[type=range]::-moz-slider-range-track  {
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(209,216,226,1) 100%);
  height: 8px;
  border-radius: 4px;
}

.mapCard-slider input[type=range]::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 12px;
  height: 12px;
  background: #F1F4F5;
  outline: solid 2px #D4DBE4;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #D4DBE4;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.mapCard-slider input[type=range]::-moz-range-thumb {
  appearance: none;
  pointer-events: all;
  width: 12px;
  height: 12px;
  background: #F1F4F5;
  outline: solid 2px #D4DBE4;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #D4DBE4;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.icon .unpin-all{
  transform: rotate(45deg);
}

.unpin-action-warning {
  position: absolute;
  z-index: 2;
  margin: 0 0 0 10px;
  padding: 5px 10px 5px 10px;
  background: #F1F4F5;
  border-radius: 12px;
  box-shadow:
  6px 6px 6px #D8E0E7,
  -6px -6px 8px #D8E0E7,
  6px 6px 8px #D8E0E7;
}

.unpin-action-warning p {
  padding: 10px 0;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}
.prompt-btns{
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background: #f1f4f5;
  box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #f9fbfb,
    3px 3px 4px #d8e0e7;
  font-weight: bold;
  cursor: pointer;
  align-self: end
}

.goToWebMap-btn {
  padding: 10px;
    border-radius: 4px;
    background: #f1f4f5;
    box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #f9fbfb, 3px 3px 4px #d8e0e7;
    font-weight: bold;
    cursor: pointer;
    align-self: self-end;
}

.filter{
  font-weight: 700;
  width: 47%;
  margin: auto -15px auto 5px;
}

.sortOrder{
  width: 10%; 
  margin: auto;
}

.sortOptions {
  cursor: pointer;
  background: #F1F4F5;
  position: absolute;
  margin: auto;
  padding: 15px 20px;
  z-index: 3;
  width: max-content;
  right: 15px;
  border-radius: 6px;
  box-shadow:
   6px 6px 6px #B3BED0,
  -6px -6px 8px #B3BED0,
  6px 6px 8px #B3BED0;
}

.sortOptions a {
  display: block;
}

.filterAndSortBtn{
  font-family: "Roboto Condensed";
  padding: 3px;
  border-radius: 4px;
  background: #f1f4f5;
  box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #f9fbfb,
    3px 3px 4px #d8e0e7;
}

button .filterAndSortBtn:active {
  transform: translateY(1px);
  transition: transform 150ms ease;
}

#exploreList{
  scrollbar-width: thin;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px 0px 0 -10px;
  padding: 0 1rem 1rem 1.5rem;
}

#pinnedList {
  scrollbar-width: thin;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px 0px 0 -10px;
  padding: 0 1rem 0 1.5rem;
}

#exploreList .notificationMessage{
margin: 25px 0 0 0;
text-align: center;
font-size: 1rem;
font-style: italic;
}

.helpText{
  margin: 50% 32%;
  padding: 50% 0; 
  text-align: center;
  line-height: 1.5rem
}

.downloadOptionsWrapper {
  background: #F1F4F5;
  padding-top: 7rem;
  width: 15rem;
  top: 0;
  right: 0;
  position: relative;
  box-shadow: 0px 0px 6px #111111;
  border-radius: 0 0 12px 0;
}

.choice {
  line-height: 3rem;
  display: flex; 
  justify-content: center;
  align-items: center;  
}

.choice div{
  margin-right: 0.5rem;
}

.choice:hover{
  color: #242b33;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.choice div {
  background: #ABB4C2;;
}

.choice:hover div{
background: #637287;
}

svg{
  fill: #637287;
}

.downloadPreview {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100%;
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeDownload {
  background: transparent;
  width: 100%;
  height: 100%;
}

.gutter {
  background: black;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 366px) {

  .heading { 
     font-size: 1.13rem; 
  }

 
}

@media only screen and (max-width: 375px) {
  #sideBar {
    margin: 0 -10px;
  }
}
